/* @media (max-width: 1200px) {

} */
@media (max-width: 991px) {
    .container {
        max-width: 621px;
    }
    .promo {
        background: url(../../img/main_bg.png) left (center/cover) no-repeat;
        .header {
            &__logo {
                width: 36%;
            }
            &__official {
                width: 36%;
            }
            &__contacts {
                width: 28%;
            }
        }
        &__wrapper {
            margin: 90px 50px 0 0;
        }
    }
    .perks {
        padding: 60px 0 71px 0;
        &__block {
            max-width: 230px;
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .advice {
        padding-top: 70px;
        padding-bottom: 60px;
        padding-left: 50px;
    }
    .carousel {
        &__inner {
            width: 100%;
            img {
                width: 100%;
            }
            .slick-prev {
                // left: 0px;
                // height: 100%;
                // width: 10%;
                // z-index: 1;
                // background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(256,256,256,0.3));                
            }
            .slick-next {
                // right: 0px;
                // background-color: rgba(0, 0, 0, 0.6);
                // height: 100%;
                // width: 10%;
                // background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(256,256,256,0.3));
            }
        }
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
    .review {
        &__wrapper {
            padding: 0 30px;
        }
        &__item {
            align-items: center;
        }
    }
    .footer {
        max-height: 500px;        
        iframe {
            height: 500px;
        }
        &__info {
            width: 52%;
            height: 225px;
            padding: 25px 34px 10px 34px;
            top: auto;
            bottom: 0;
        }
        &__social-item {
            margin: 0 12px;
        }
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 516px;
    }
    .promo {
        .header {
            &__logo {
                margin-left: 0px;
            }
            &__contacts {
                margin-right: 0px;
            }
            &__phone {
                font-size: 14px;
            }
            &__official {
                span {
                    font-size: 14px;
                }
            }
        }
        &__wrapper {
            margin: 90px auto;
        }
        .button {
            width: 88%;
            &_main {
                width: 300px;
            }
        }
    }
    .title {
        &_white {
            font-size: 30px;
        }
    }
    .advice {
        &__descr {
            margin-top: 50px;
            font-size: 18px;
        }
    }
    .carousel {
        padding-bottom: 40px;
        &__inner {
            .slick-prev {
                display: none;
            }
            .slick-next {
                display: none;
            }
        }
    }
    .catalog {
        padding-bottom: 40px;
        &-item {
            width: 49%;
            &__list {
                li {
                    font-size: 12px;
                }
            }
            &__old-price {
                font-size: 13px;
            }
            &__price {
                font-size: 15px;
            }
            &__descr {
                font-size: 12px;
            }      
        }
        &__tabs {
            margin-top: 35px;
        }
    }
    .button {
        &_catalog {
            width: 50%;
        }          
    }
    .title {
        font-size: 26px;
        &__white {
            font-size: 30px;
        }
    }
    .review {
        &__item {
            margin: 35px 0 15px 0;
            flex-direction: column;
        }
        &__round {
            margin: 0 0 15px 0;
        }
        &__header {
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
        &__descr {
            text-align: justify;
            font-size: 14px;
        }
    }
    .footer {
        &__info {
            width: 53%;
            height: 185px;
            padding: 20px 15px 10px 15px;
            top: auto;
            bottom: 0;
        }
        &__social-item {
            margin: 0 5px;
        }
        &__addr {
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 18px;
        }
        &__phone {
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 19px;
        }
        &__social {
            margin-top: 19px;
        }
    }
}
@media (max-width: 575px) {
    .container {
        max-width: 88%;
    }
    .promo {
        padding-bottom: 20px;
        min-height: auto;
        background: url(../../img/main_bg.png) 15% center/cover no-repeat;
        .xs-hidden {
            display: none;
        }
        .header {
            flex-direction: column;
            &__logo {
                width: 251px;
            }
            &__contacts {
                width: 100%;
                align-items: flex-end;
                margin-top: 20px;
                .button {
                font-size: 11px;
                margin-top: 10px;
                width: 144px;
                }
            }
            &__phone {                
                font-size: 15px;
            }
        }
        &__wrapper {
            margin: 40px 0 0 0;
        }
        &__header {        
            text-align: right;    
            font-size: 30px;
            line-height: 32px;
        }
        &__subheader {
            text-align: right;
            font-size: 20px;
            line-height: 22px;
        }
        &__icons {
            width: 100%;
            margin-top: 20px;
        }
        &__icon {
            width: 33%;
            font-size: 11px;
        }
        .button {
            &_main {
                margin: 0 auto;
                margin-top: 20px;
                width: 80%;
                max-width: 300px;
                font-size: 14px;                
            }
        }
        &__link {
            margin-bottom: 10px;
        }
    }
    .perks {
        padding: 30px 0 30px 0;
        &__wrapper {
            flex-direction: column;
            align-items:center;
            margin-top: 25px;
        }
        &__block {
            margin-right: 0;
            margin-bottom: 15px;
        }
        &__img {
            margin-bottom: 12px;
        }
        &__descr {
            margin-top: 12px;
        }
    }
    .advice {
        background: url(../../img/advice_bg.png) 60% center/cover no-repeat;
        padding: 30px 0 30px 0;
        &__descr {
            margin-top: 20px;
        }
    }
    .feed-form {
        width: 100%;
        max-width: 300px;
    }
    .catalog {
        padding-bottom: 25px;
        &-item {
            width: 100%;            
        }
        &__tabs {
            margin-top: 15px;            
        }
        &__tab {
            // position: relative;
            margin: 0 2px;
            transform: skewX(-15deg);
            width: 33%;
            font-size: 11px;
            height: 31px;
            line-height: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            // &:nth-child(2) {                
            //     line-height: 30px;
            // }
            div {
                // position: absolute;
                // top: 0;
                // right: 0;
                // bottom: 0;
                // left: 0;
                transform: skewX(15deg);
            }
        }
        &__content {
            margin-top: 20px;
        }        
    }
    .footer {
        &__info {
            width: 88%;
            max-width: 300px;
            height: 128px;
            padding: 10px 15px 10px 15px;
            top: 70px;
            bottom: auto;
        }
        &__social-item {
            margin: 0 5px;
            width: 35px;
            height: 35px;
            span {
                font-size: 20px;
            }
        }
        &__addr {
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 10px;
        }
        &__phone {
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 10px;
        }
        &__social {
            margin-top: 15px;
        }
    }
}