.advice {
    min-height: 650px;
    padding: 100px 0 92px 0;
    background: url(../../img/advice_bg.png) center (center/cover) no-repeat;
    &__descr {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        margin-top: 80px;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        text-shadow: 2px 2px 5px $main-color;
        border: none;                
        text-align: center;
        font-size: 14px;
        margin-bottom: 15px;
        color: white;
    }
}