.review {
    padding-bottom: 40px;    
    flex-wrap: wrap;
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__item {
        min-height: 224px;
        display: flex;
        justify-content: center;
        margin: 70px 0 30px 0;
    }
    &__round {
        width: 169px;
        height: 169px;
        margin-right: 60px;
        display: flex;
        justify-content: center;
    }
    &__header {
        color: #0d0d0d;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
    }
    &__subheader {
        margin-top: 10px;
        color: #646464;
        font-size: 14px;
        line-height: 14px;
        font-weight: 300;
    }
    &__descr {
        max-width: 658px;
        margin-top: 19px;
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
        br {
            height: 0px;
        }
        span {
            display: block;
            margin-top: 24px;
        }
    }

}
